@using TestWebapp.Models
@model IEnumerable<TestWebapp.Models.TodoItem>
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @foreach (var item in Model)
    {
        @item.Name<br/>
        @item.Description<br/>
    }
</div>
</body>
</html>